@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-primary-300: #F7F4EA;
    /* --clr-primary-400: #47434C; */
    /* zuvor 777777 */
    --clr-neutral-100: #FFF;
    --clr-primary-600: #005b97;
    --clr-primary-900: #222C2A;
    /* --clr-polizei-bg: #4375a3; */
    
    --clr-hint: #178d96;

    /* --clr-msg-you: #99D6FF; */
    --clr-btn-regular: #067bc2;

    --clr-btn-hover: #84bcda;
    /* --clr-btn-hover: #bce2fcfb; */
    --clr-msg-they: #F7F4EA;
    
	--clr--blue: #29ABE2;
    --clr--orange: #F7B35B;
	--clr--orange-matt: #FEF5EA;
	
	--clr-sct-head: #FCE6CA;
	
	
    /* fonts */
    --ff-primary: 'fira-sans-regular', sans-serif;
    --ff-accent: 'fira-sans-medium', sans-serif;

	--brdr-rad: 10px

}


/* ----------  General Code  ---------- */
body{
    margin: 0;
    margin-top: 5px;
    font-family: var(--ff-primary);
    font-size: 12px;
	margin-bottom: 5px;
	background-color: var(--clr--blue);
}

h2{
	text-align: center;
	font-family: var(--ff-primary);
	font-size: 20px;
}

.hidden {
    display: none;
}

.chat-input{
    font-size: 1vw;
    padding: 5px 10px;
    margin: 6px 0;
    margin-left: 4px;
	box-sizing: border-box;

}
input[type=number]{
    max-width: 58px;
    padding-inline: 5px;
    margin-inline: 5px;
}





/* ----------  Grid Layout  ---------- */
.container {
    display: grid; 
    grid-template-columns: 4px 1fr 2.2fr 1.5fr 4px; 
    grid-template-rows: 0.1fr 2fr 0.1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". progress-section camera-section status-section ."
      ". progress-section camera-section chat-section ."
      ". tools-section camera-section chat-section ."; 
  }
  
.progress-section { 
      grid-area: progress-section;

      background-color: var(--clr--orange-matt);

      border: 2px solid var(--clr-primary-900);
	  border-radius: var(--brdr-rad);
      padding: 5px 20px;
      overflow-wrap: break-word;

      user-select: none;
}
/* Needs work! */
div.progress-section label, button{
    user-select: none;
    margin-bottom: 0.42em;
}
  
.tools-section { 
    grid-area: tools-section;
	background-color: var(--clr--orange-matt);
    border: 2px solid var(--clr-primary-900);
	border-radius: var(--brdr-rad);
    padding: 5px 20px;
}
  
.chat-section {
    max-height: 100%;
	background-color: var(--clr--orange-matt);
    padding: 10px 20px;
    display: flex; /*added*/
    flex-direction: column;/* added*/
}
.camera-section {
    grid-area: camera-section;
	background-color: var(--clr--orange-matt);
    border: 2px solid var(--clr-primary-900);
	border-radius: var(--brdr-rad);
    padding: 5px 20px;
}

.status-section { 
	
	background-color: var(--clr--orange-matt);
	
	border: 2px solid var(--clr-primary-900);
	border-radius: var(--brdr-rad);
	
	padding: 5px 20px;
	overflow-wrap: break-word;
    max-height:100%;
   
}
  
  
.section-head {
	text-align: center;
	
	background-color: var(--clr-sct-head);
	margin:-5px -20px;
	padding: 2px 10px;
	border-radius: var(--brdr-rad) var(--brdr-rad) 0 0;
	top:0;
	
}

.sidebar {
    position:fixed;
    top:0%;
    right:0%;

}

.container {
    display:flex;
}
/* ----------  Progress Section  ---------- */

#progress-bar div{
    width: 8px;
    height:99%;
    margin-right: 15px;
    margin-left: 10px;
    /* background: linear-gradient(to bottom, orange, rgb(219, 120, 7)); */
    /* CSS Animaton */
    /* animation: progress calc(var(--duration) * 1s) linear forwards;
    transform-origin: top; */
}

.progress-bar-anim div{
    background: linear-gradient(to bottom, orange, rgb(219, 120, 7));
    /* CSS Animaton */
    animation: progress calc(var(--duration) * 1s) linear forwards;
    transform-origin: top;
}

#progress-list div{
    font-size: 10px;
    justify-content: space-between; /* macht wahrsch. nix */
    flex-direction: column; /* macht wahrsch. nix */
}

/* Progress Bar Animation */
@keyframes progress {
    /* Alternativ "height" statt transform scaling nutzen!*/
    from{
        transform: scaleY(0);  
    }
    to{
        transform: scaleY(1);
    }
}


.btn {
    font-family: var(--ff-primary-600);
    font-weight: 500;

    font-size: 15px;

	background-color: var(--clr--blue);

    color: var(--clr-primary-900);

    margin-inline: 0.3rem;
    border-radius: 5px;
	border: solid 2px;

    cursor: pointer;
}

.btn-center{
	text-align: center;
	margin: 0.7rem;
	
}


.btn:not(.active):hover{
    background-color: var(--clr--orange);
}

button.active {
    background-color: var(--clr--orange);
    /* color: var(--clr-primary-300); */
    color: var(--clr-primary-900);
}

.wide{
    min-width: 100%;
	min-height: 1.5rem;

    margin-left: 0;
    margin-bottom: 0;
	padding: 0.6em 0.4em;
}



/* custom checkbox */
.check-container{
    position: relative;
    display: block;
    padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
    cursor: pointer;
}

.check-container input{
    display: none;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 1;
    left: 0;
    margin-left: 5px;
    border: 1px solid var(--clr-primary-900);
    height: 15px;
    width: 15px;
    
    background-color: #eee;
}
/* check-container hover */
.check-container:hover input ~ .checkmark{
    background-color: #ccc;
}
/* check-container checked */
.check-container input:checked ~ .checkmark{
    background-color: var(--clr--orange);
}
/* checkmark indicator (hidden when not checked) */
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
/* show checkmark indicator when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}
/* style checkmark indicator */
.check-container .checkmark:after {
    left:6px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* ----------  Tools Section  ---------- */
.inline{
    font-size: 15px;
    font-weight: 700;
    margin-right: 0rem;
}

#countdown-div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 2px;
}

.timer {
	font-size: 12px;
	border-radius: 2px;
	border: solid;
	border-width: 0.1px;
	margin-top: 0.5px;
}

.small{
    min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height:30px;
	
}
/* ----------  Chat Section  ---------- */
#chat-window {
    overflow-y: scroll;
    overflow-x: hidden;
    flex:1;
    padding-top: 1%;
    max-height:80%;
}

/*#chat-log {
}*/

.message{
    margin-left: 0;
	border: solid;
	border-width: 0.1px;
}

.player-message{
    color: var(--clr--orange);
    /* margin-top: 1em;
    margin-bottom: 1em; */
	text-align:right;	
}

.server-message{
	text-align:left;
	background-color: rgba(247, 179,91, 0.3);
	max-width: 75%;
	border-radius:5px;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	
}

.polizei-message{
	text-align:left;
	background-color: rgba(247, 179,91, 1);
	max-width: 75%;
	border-radius:5px;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	
}


.hint-message{
	font-family: var(--ff-accent);
    font-weight: 700;
	
}

.hint{
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1px;
	min-width: 80%;
	
	margin-top: 5px;
	margin-bottom: 5px;
}

.controller-message{
	text-align: left;
	color: var(--clr-primary-900);
	
	justify-content: right;
	align-items: right;
	margin-left: 25%;
	margin-right: 0;
	
	background-color: rgb(41,171,226,0.8);
	
	max-width: 75%;
	border-radius:5px;
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}


.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
    display: flex;
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 1vw;
    padding: 5px;
    height: 40px;

    flex: 1;
}

#msg {
    width: min(75%, 28rem);
}

/* ----------  Notification Section  ---------- */
#notification-container {
    position: fixed;
    bottom: 5pt;
    width: 100%;
    z-index: 10;
}
.notification {
    background-color: red;
    color: white;
    padding: 12px 25px;
    width: fit-content;
}
p.notification{
    margin: 5pt auto;
}

/* ----------  Status Section  ---------- */
.btn-container {
  display: flex;
  
  align-items: center;
  justify-content: center;
}
.status{
	padding: 0.6em 0.4em;
}

/* ----------  Camera Section  ---------- */
.video{
	min-width: 100%;
}

.Stream{
    max-width: 30%;
}

/* ----------  Setting_popup Section  ---------- */
.settings-container{
	position: fixed;
	
	bottom: 15%;
	right: 0;
	top:10%;
	width: 60%;
    height: 80%;
	margin-left: 20%;
    margin-right: 20%;
		
	overflow:visible;
	
    background-color: var(--clr--orange-matt);

    border: 2px solid var(--clr-primary-900);
	border-radius: var(--brdr-rad);
    padding: 5px 20px;
    overflow-wrap: break-word;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}

.submit{
	width: 20%;
	height: 60%;

	margin-left: 40%;
	margin-right: 40%;
	margin-top: 30px;
	
	font-size: 1.3vw;
	padding: 5px 10px;
}


.settings-input{
	font-size: 1.2vw;
    padding: 5px 10px;
	margin:5px 0;
	border: 2px solid var(--clr-primary-900);
	border-radius: var(--brdr-rad);
	width: 90%;

}

.setting-form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:0px 0px;
	padding: 10px;

}

.settings-headline{
	font-size: 1.2vw;
	font-weight: 600;
	color: var(--clr--blue);
	height: 30%;
	padding: 1px;
	
	
}


.full-width{
	grid-column: span 2;
}


.right{
	position: absolute;
    right: 0;
	padding: 5px;
}

.left{
	position: absolute;
	left: 0;
	padding: 5px;

}

.close{
	position: absolute;
	z-index: 9999;
	top: -16%;
	right: 1%;
	
	width: 40px;
	height: 40px;

	text-decoration: none;
	
	cursor: pointer;
	
	font-size: 5vw;
	
}

.settings-icon{
	position:absolute;
	
	width:40px;
	height: 40px;
	
	cursor: pointer;
	font-size:2.5vw;
	
	right:25px;
	top:18px;
	
	
}
.settings-icon:hover{
	color: var(--clr--orange);
}


.close:hover{
	color: var(--clr--orange);
}
.close-div{
	position: absolute;
	top:-20px;
	right: -20px;
	margin-bottom: 120%;
	
}




